.lit{
    background-color: rgb(69, 71, 145);
}
    
.but{
    background-color: rgb(127, 138, 238);
}
    
.butt{
    background-color: rgb(127, 138, 238) ;
}
    
.pro{
    background-color: rgb(62, 145, 73);
}